* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(194, 157, 228);
    padding-top: 120px;
    padding-bottom: 50px;
    text-align: center;
}

a {
    text-decoration: none;
}

.Backend li{
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 50px; /*espaçamento entre itens*/
    list-style-type: none; 

}

.Frontend li {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 4px;
    list-style-type: none; 
    padding-bottom: 0%;
}

.colunas {

    display:flex; 
    justify-content: center;
    flex-wrap: wrap;
    gap: 500px;
}

img {
    border: #f4f4f4;
    width: 100%; /* Largura máxima */
    height: auto; /* Altura ajustada automaticamente */
    max-width: 200px; /* Largura máxima da imagem */
}

.css_logo img{
    width: 100%; /* Largura máxima */
    height: auto; /* Altura ajustada automaticamente */
    max-width: 150px; /* Largura máxima da imagem */
}

.react_logo img{
    width: 100%; /* Largura máxima */
    height: auto; /* Altura ajustada automaticamente */
    max-width: 300px; /* Largura máxima da imagem */
}