* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
    background-color: rgb(194, 157, 228);
    padding-top: 120px;
    padding-bottom: 50px;
    text-align: center;
}


a {
    text-decoration: none;
}

.Backend li{
    background-color: #f4f4f4;
    padding-bottom: 10px;
    border-radius: 4px;
    margin-bottom: 12px; /*espaçamento entre itens*/
    list-style-type: none; 

}

.Frontend li {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 4px;
    padding-bottom: 0%;
    list-style-type: none; 
}

.colunas {

    font-size: 20px;   
    display:flex; 
    justify-content: center;
    flex-wrap: wrap;
    gap: 500px;
}

img {
    border: #f4f4f4;
    width: 100%; /* Largura máxima */
    height: auto; /* Altura ajustada automaticamente */
    max-width: 200px; /* Largura máxima da imagem */
}

.css_logo img{
    width: 100%; /* Largura máxima */
    height: auto; /* Altura ajustada automaticamente */
    max-width: 150px; /* Largura máxima da imagem */
}

.react_logo img{
    width: 100%; /* Largura máxima */
    height: auto; /* Altura ajustada automaticamente */
    max-width: 330px; /* Largura máxima da imagem */
}


.quadradoF {
    background-color: #fff;
    border-radius: 15px;
    height: auto;
    width: auto;
}

.quadradoB {
    background-color: #fff;
    border-radius: 15px;
    height: auto;
    width: 320px;
}