* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(185, 151, 217);
    text-align: center;
    padding-top: 150px;
}

a {
    text-decoration: none;
}

