* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color: rgb(229, 231, 186); 
    text-align: center;
    margin: 100px;
    font-family: cursive;
}

h1 {
    font-size: 50px;
}

h3 {
    padding-bottom: 450px;

}

h2 {
    font-size: 40px;
}

a {
    color: rgb(0, 75, 140);
    font-size: 25px;
    text-decoration: none;
    padding-bottom: 50px;
}

img {
    height: auto;
    max-width: 200px;
    width: 100%;
}