<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kaiki Nattan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    
<h1>Kaiki Nattan</h1>


<h2> Principais Competências: </h2>

<table>

    <tr>
        <td><b>Front End</b></td>
        <td><b>Backend</b></td>
        <td><b>Habilidades</b></td>
    </tr>
    <tr>
        <td>React</td>
        <td>Python</td>
        <td>SQL</td>
    </tr>

    <tr>
        <td>html/css</td>
        <td>Java</td>
        <td>Django</td>
    </tr>

    <tr>
        <td></td>
        <td>Spring</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Flask</td>
    </tr>


</body>
</html>
