<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kaiki Nattan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<h1>Kaiki Nattan</h1>
<img src="https://avatars.githubusercontent.com/u/156141207?v=4">
<h3>Desenvolvedor Fullstack</h3>

<a href="{{ url_for('competencias') }}">Habilidades e competências</a><br>
<a href="{{ url_for('projetos') }}">Meus projetos</a> <br>
<a href="{{url_for('curriculo')}}">Currículo</a>



</body>
</html>
