<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kaiki Nattan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    
<h1>Kaiki Nattan</h1>

<a href="https://www.exemplo.com" target="_blank">Sobre mim</a><br>
<a href="https://www.exemplo.com" target="_blank">Habilidades e competências</a><br>
<a href="https://www.exemplo.com" target="_blank">Serviços contratáveis</a> <br>
<a href="https://www.exemplo.com" target="_blank">Meus projetos</a> 



</body>
</html>
