<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1, initial-scale=1.0">
    <title>Projetos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='projetos.css') }}">
</head>

<body>
    
    <h1>Bem-vindo a minha página de projetos!</h1>
    <a href="{{ url_for('index') }}">Voltar para a Página Principal</a>


    <div class="projetos">
    <div class="jogocobra"><h2>jogo da cobrinha</h2>
    <div>
        <p>O clássico jogo da cobrinha feito completamente em python, com dinâmicas de velocidade, cor, proporção e principalmente, diversão</p>
    </div>
    <div><a href="https://github.com/kaikinattandossantos/Snake_game.git" target="_blank"> Teste e divirta-se</a></div>
</div>


    <div class="calculadora"><h2>Calculadora!</h2>
    <div>
        <p>Para os matemáticos de plantão, temos calculadoras! Temos ela feita em Python e outra em Java, as duas tendo seu próprio website utilizando Js, Html, Css</p>    
    <div>
<div class="calculadoras_links">
    <div class="cal_python"><a href="https://github.com/kaikinattandossantos/Calculadora_python.git" target="_blank" >Calculadora Python </a> <br></div>
    <div class="cal_java"><a href="https://github.com/kaikinattandossantos/Calculadora.Java.git" target="_blank"> Calculadora Java</a> </div>
</div>
</div>
</div>
</body>
</html>